.Car {
	display: inline-block;
	width: 210px;
	height: 210px;
}

p {
	padding-left: 10px;
	font-family: sans-serif;
	font-size: 13px;
}

html {
	background-color: black;
}

img {
	width: 40px;
	display: flex;
}