body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

/* .top {
  font-size: 30px;
  display: flex;
  position: relative;
  top: 10px;
  left: 10px;
} */

.container {
  display: flex;
  flex-direction: row;
  align-items: end;
  overflow-y: hidden;
  gap: 200px;
  margin-top: 77px;
}

  .Name img {
    margin-right: 23%;
    width: auto;
    height: auto;
    bottom: 0;
    margin-bottom: 0;
    justify-content: end;


  }
  

  /* #panel, #flip {
    padding: 5px;

  
  } */
  
  /* #panel {
    padding: 50px;
    display: none;
  } */

  a {
    text-decoration: none;
    color: black;
  }

.container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.aboutpage, .home {
  width: fit-content;
  font-family: "rooney-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  /* margin-left: 30px; */

}

/* .aboutpage {
  margin-top: 30px;
}

.home {
  margin-top: 30px;
} */

li {
  list-style: none;
}

/* details {
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px black;
  margin-top: 40px;
} */

/* summary {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  display: flex;
  border: 3px solid black;
  box-shadow: -8px 0px 10px -2px rgba(0, 0, 0, 0.75);
  margin: auto;
  padding: auto;
}

summary:hover {
  box-shadow: inset -10px 0 10px 0 rgba(0,0,0,0.5);
}

details:hover {
  box-shadow: none;
} */

.main {
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  align-items: end;
}

.box {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  display: flex;
  border: 3px solid black;
  box-shadow: -8px 0px 10px -2px rgba(0, 0, 0, 0.75);
  margin: auto;
  padding: auto;
  justify-content: start;
}

.box:hover {
  box-shadow: inset -10px 0 10px 0 rgba(0,0,0,0.5);
}

.box2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  box-shadow: -3px 2px 4px 2px rgba(0,0,0,0.5);
  display: flex;
  position: absolute;
  left: 95%;
  top: 5%;
}

.box2:hover {
  box-shadow: inset -4px 1px 4px 1px rgba(0,0,0,0.5);
}

.aboutpage {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .home {
    font-size: 20px;
  }

  .container {
    padding-left: 35%;
  }

  .box2 {
    left: 88%;
  }
}