body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.box {
    height: 250px;
}

.container {
  display: flex;
  flex-direction: row;
  bottom: 0;
  align-items: end;
  overflow-y: auto;
  margin-top: 0;
}

  .Name img {
    margin-right: 23%;
    width: 100px;
    height: auto;
    bottom: 0;

  }

  #panel, #flip {
    padding: 5px;
    text-align: center;
  
  }
  
  #panel {
    padding: 50px;
    display: none;
  }
