a {
    text-decoration: none;
    color: red;
}

@font-face {    font-family: 'opensans';
    src: url('/page1/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: #FFD1D1;
}

body {
    max-width: 800px;
    margin: auto;
}

.main {
    font-size: 50px;
    font-family: opensans;
}

h1 {
    font-size: 50px;
}

@media (max-width: 768px) {
    .main {
        font-size: 30px;
    }
    h1 {
        font-size: 30px;
    }

    body {
        max-width: 400px;
        margin: auto;
    }
}