@font-face {
    font-family: 'nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }


html {
    font-family: 'nunito';
}

body {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.part1 {
    background-color: white;
}

img {
    margin-bottom: 70px;
    margin-top: 70px;
    height: 500px;
}

/* .tags {
    display: flex;
} */



.part2 {
    background-color: black;
    /* background-color: rgb(255, 234, 196); */
    /* background-image: linear-gradient(to right, white , black); */
    padding-top: 50px;
}

.box {
    max-width: 600px;
    margin: auto;
}

.nav-list {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-bottom: 10px;
}

.nav-items {
    background-color: white;
    padding: 8px;
    border-radius: 20px;

}

button {
    background-color: white;
    font-size: 20px;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

li {
    list-style-type: none;
}

.dis {
    background-color: white;
    border: 8px solid rgb(235, 234, 234);
    border-radius: 10px;
    height: 300px;
}

.liking {
    color: white;
    background-color: transparent;
    height: 150px;
}

.liking h1 {
    margin-bottom: -1px;
}

.heart-rating {
    font-size: 70px; /* Adjust the size of the hearts */
    color: red; /* Color of filled hearts */
}

.heart-rating .empty-heart {
    color: #ccc; /* Color of empty hearts */
}

.ref {
    background-color: yellow;
    border-radius: 20px;
    height: 150px;
}

h1 {
    padding-left: 20px;
    padding-top: 10px;
}

p {
    padding-left: 50px;
    padding-right: 30px;
    font-size: 20px;
}