html {
  min-height: 700vh;
  color: white;
  margin: 0;
  padding: 0;
  
}

body {
  background-image: linear-gradient(#1E1778, #3D3577, #5B5375, #335D7C, #7D8FA5, #FFEBA4 );
}

.window {
  border: 10px solid white;
  background-color: transparent;
  height: 95vh;
  width: 97.5vw;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  position: fixed;
  z-index: 3;
}

.sea {
  background-image: linear-gradient(#E6DCC2, #1A3B6C);
  height: 175px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.sun {
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 1;
  border: 5px solid #E3E3E3;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1 {
  font-size: 200px;
  margin: 0;
}